.DS_Store
.bundle
.byebug*
.coverage
.history
.devcontainer
.vscode
*.env
*.log
*.md
*.txt
!LICENSE.txt
!README.md
.ruby-version
appendonlydir
coverage
etc/config
log
tmp
vendor
node_modules/
.pnpm/
*gem
.claude
.mcp.json
